.warp {
  width: 1920px;
  margin: 0 auto;
  font-family: Microsoft JhengHei UI;
}

/*link*/

.link {
  width: 100%;
  background: #f6f6f8;
  padding-top: 4px 0 4px 0;
}

.link ul {
  display: flex;
  margin-left: 1337px;
}

.link li img {
  margin-right: 5px;
}

.fb img {
  width: 18px;
  height: 18px;
}

.fb {
  padding: 5px 0;
}

.x {
  padding: 5px 12px;
}

.fb a {
  border-right: 1px solid #cccccc;
  padding-right: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
  text-decoration: none;
  color: #4267b2;
}

.x a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
  text-decoration: none;
  color: #1da1f2;
}

.link ul li a:hover {
  font-weight: 1000;
  opacity: 0.8;
}

/*header*/

.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header h1 a {
  background: url(img/logo2.PNG) no-repeat;
  background-size: contain;
  width: 150px;
  height: 36px;
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 18px 0 15px 0;
}

.header h1 a:hover {
  opacity: 0.8;
}

.header ul {
  display: flex;
  margin-top: 26px;
  margin-bottom: 26px;
}

.header li {
  padding-right: 42px;
}

.header li a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #00251a;
  text-decoration: none;
}

.header li a:hover {
  opacity: 0.8;
  border-bottom: 4px solid #00cc99;
  padding-bottom: 23.2px;
}

.banner {
  background: url(img/banner02.png) no-repeat;
  width: 100%;
  height: 390px;
  display: flex;
  align-items: center;
}

.title {
  width: 100%;
  height: 140px;
  background: #ffffff26;
}

.title p {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
  line-height: 43.5px;
  color: #1e1e1e;
  margin: 27px 0 0 24%;
}

/*course*/

.course {
  width: 1110px;
  display: flex;
  justify-content: space-around;
  margin: 60px auto;
}

.course-list {
  width: 350px;
  height: 353px;
  box-shadow: 0px 10px 10px #e3e3e3;
  border-radius: 5px;
}

.course-list:hover {
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 15px 15px 10px #e3e3e3;
}

.html-icon {
  width: 130px;
  height: 145px;
  margin: 20px auto 11.6px;
}

.rwd-icon {
  width: 174px;
  height: 150px;
  margin: 25px auto 2px;
}

.jquery-icon {
  width: 294px;
  height: 66px;
  margin: 68px auto 43px;
}

.course-info {
  width: 310px;
  margin: 0 auto;
}

.course-info h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding-bottom: 12px;
}

.course-info p {
  font-size: 16px;
  font-weight: 320;
  line-height: 24px;
}

.course-info ul {
  list-style: disc;
  padding-left: 20px;
}

.course-info ul li {
  font-size: 16px;
  font-weight: 320;
  line-height: 24px;
}

/*compare*/

.compare {
  width: 920px;
  margin: 60px auto;
}

.compare h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  padding-bottom: 24px;
}

.compare table {
  width: 100%;
  text-align: left;
}

.compare th,
.compare td {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  padding: 6px 98px 6px 17px;
}

.compare th {
  font-weight: 700;
}

.highlight {
  font-weight: 700;
  color: #00cc99;
}

.compare tbody tr:hover {
  background-color: #ddfbf3;
}

/*form*/

.contact {
  width: 100%;
  background: linear-gradient(180deg, #e4fff8 0%, #a2ddce 100%);
  margin-top: 60px;
  padding-bottom: 36px;
}

.contact h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  color: #00251a;
  padding: 36px 0 28px 0;
}

.form {
  width: 731px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 16px;
}

label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  padding-bottom: 8px;
}

.form-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.form-left {
  padding-right: 30px;
}

.form-left input {
  width: 351px;
  height: 38px;
}

textarea {
  width: 350px;
  height: 200px;
}

.btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 159px;
  height: 38px;
  border: 1px solid #00251a;
  background: #00251a;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #ffff;
}

.btn:hover {
  background-color: #00cc99;
  cursor: pointer;
}

/*footer*/

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer h2 a {
  background: url(img/logo2.PNG) no-repeat;
  background-size: contain;
  width: 150px;
  height: 36px;
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 22px 0 22px 45px;
}

.footer h2 a:hover {
  opacity: 0.8;
}

.connection {
  margin-right: 70px;
}

.connection span,
.connection a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.connection a {
  color: #00cc99;
  text-decoration: none;
}
